# sherpa-onnx native libraries
android/app/src/main/jniLibs/arm64-v8a/libonnxruntime.so filter=lfs diff=lfs merge=lfs -text
android/app/src/main/jniLibs/arm64-v8a/libsherpa-onnx-c-api.so filter=lfs diff=lfs merge=lfs -text
android/app/src/main/jniLibs/arm64-v8a/libsherpa-onnx-cxx-api.so filter=lfs diff=lfs merge=lfs -text
android/app/src/main/jniLibs/armeabi-v7a/libonnxruntime.so filter=lfs diff=lfs merge=lfs -text
android/app/src/main/jniLibs/armeabi-v7a/libsherpa-onnx-c-api.so filter=lfs diff=lfs merge=lfs -text
android/app/src/main/jniLibs/armeabi-v7a/libsherpa-onnx-cxx-api.so filter=lfs diff=lfs merge=lfs -text
# Workout Exercise animations and images
assets/images/exercises/decline_push_up.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/incline_push_up.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/mountain_climbers.webp filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/push_up.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/side_plank.png filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/sumo_squat.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/close_puch_up.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/crunch.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/plank.webp filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/reverse_crunch.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/superman.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/wall_pushup.webp filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/duble_crunch.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/high_knee.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/jumping_jacks.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/squat.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/wall_sit.jpg.webp filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/knee_push_up.gif filter=lfs diff=lfs merge=lfs -text
assets/images/exercises/split_squat.gif filter=lfs diff=lfs merge=lfs -text
# MODELS
android/app/src/main/assets/pose_landmarker_full.task filter=lfs diff=lfs merge=lfs -text
assets/models/silero_vad_v5.onnx filter=lfs diff=lfs merge=lfs -text
assets/audio/meditation_bg_1.m4a filter=lfs diff=lfs merge=lfs -text
assets/audio/meditation_bg_2.m4a filter=lfs diff=lfs merge=lfs -text
assets/audio/meditation_bg_3.m4a filter=lfs diff=lfs merge=lfs -text
assets/audio/meditation_bg_4.m4a filter=lfs diff=lfs merge=lfs -text
assets/models/silero_vad.onnx filter=lfs diff=lfs merge=lfs -text
